* {
  margin: 0;
  padding: 0;
}

h2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.jumbotron {
  margin-top: 15rem;
  background-color: #ffffff;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
