.jumbotron {
  padding: 15rem 10rem 15rem;
  background-color: #ffffff;
}

.container .row .col {
  padding: 5rem;
}

#Projects {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #ffffff;
}

section {
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-top: 5rem;
}

.card:hover {
  transform: translateY(-15px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}
